# Version control
.git/
.github/
.gitignore

# Builds
.svelte-kit
build/

# Docs
examples/
AGENTS.md
LICENSE
README.md

# Dev tools
.editorconfig
Makefile
compose.yaml
scripts/

# Editor files
.idea/
.vscode/
*.sw*

# Environment variables
*.env
env.example

# Data files
*.db
.data/

# Dependencies
web/node_modules/

# OS files
.DS_Store
