@import "tailwindcss";

html,
body {
  height: 100%;
  background-color: var(--color-aurora-gray-1400);
}

body {
  position: relative;
  color: white;
}

@theme {
  --color-aurora-gray-100: #eeeeee;
  --color-aurora-gray-200: #dddddd;
  --color-aurora-gray-300: #cccccc;
  --color-aurora-gray-400: #bbbbbb;
  --color-aurora-gray-500: #aaaaaa;
  --color-aurora-gray-600: #999999;
  --color-aurora-gray-700: #888888;
  --color-aurora-gray-800: #777777;
  --color-aurora-gray-900: #666666;
  --color-aurora-gray-1000: #555555;
  --color-aurora-gray-1100: #444444;
  --color-aurora-gray-1200: #333333;
  --color-aurora-gray-1300: #222222;
  --color-aurora-gray-1400: #111111;

  --color-aurora-magenta-100: #e673ff;
  --color-aurora-magenta-200: #ff52ff;
  --color-aurora-magenta-300: #da20e0;
  --color-aurora-magenta-400: #bd29ff;
  --color-aurora-magenta-500: #bd10c5;
  --color-aurora-magenta-600: #8c14be;
  --color-aurora-magenta-700: #5a187b;
  --color-aurora-magenta-800: #641464;
  --color-aurora-magenta-900: #410062;
  --color-aurora-magenta-1000: #320a46;

  --color-danger: #ff0000;
  --color-warn: #ffa53c;
  --color-success: #0ad70a;

  --color-discord-blurple: #5865f2;
}
