@import "tailwindcss";

html,
body {
  height: 100%;
}

@theme {
  --color-aurora-gray-100: #eeeeee;
  --color-aurora-gray-200: #dddddd;
  --color-aurora-gray-300: #cccccc;
  --color-aurora-gray-400: #bbbbbb;
  --color-aurora-gray-500: #aaaaaa;
  --color-aurora-gray-600: #999999;
  --color-aurora-gray-700: #888888;
  --color-aurora-gray-800: #777777;
  --color-aurora-gray-900: #666666;
  --color-aurora-gray-1000: #555555;
  --color-aurora-gray-1100: #444444;
  --color-aurora-gray-1200: #333333;
  --color-aurora-gray-1300: #222222;
  --color-aurora-gray-1400: #111111;
}
