AWS_ACCESS_KEY_ID=s3-access-key
AWS_SECRET_ACCESS_KEY=s3-secret-key
# DISCORD_CLIENT_ID=some-client-id
# DISCORD_CLIENT_SECRET=some-client-secret
MIGRATIONS_DIR=./migrations
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=opendungeon
POSTGRES_USER=user
POSTGRES_PASSWORD=password
S3_BUCKET=opendungeon
S3_URL=http://localhost:8333
